@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Dancing+Script:wght@600&family=Fira+Sans:wght@600&family=Indie+Flower&family=Mukta&family=Pacifico&family=Poppins:wght@600&family=Quicksand:wght@500&family=The+Nautigal:wght@700&display=swap');

:root{
    --background-color: #a7f3d0;
}

body{
    font-family: 'Quicksand', sans-serif;
    background-color: var(--background-color);
}
.title{
    text-align: center;
    margin:4rem;
}
.input-label{
    display: block;
    text-align: center;
    font-size: 1.5rem;
}
#input-box{
     display: block;
     margin: auto;
     margin-top: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;

}
#show-btn{
    display: block;
    margin: auto;
    margin-top: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
#result{
    display: block;
    text-align: center;
    margin-top: 2rem;
}
.footer{
    display: block;
    text-align: center;
    margin-top: 20rem;
    padding: 1.5rem 1rem;
}
.link{
    padding: 0.5rem;
    color: black;
}
